<h1> Emotion </h1>

<div *ngIf="emotion">
  <!-- IMPORTANT ngIF para que no de error hasta que no se resuelva la promesa -->
  <a [routerLink]="['/emotion/user', emotion.userRef._id]"> Back to list </a>
  <div class="emotion-info">
    <h2> {{ emotion.maxEmotion.name }} : {{ emotion.maxEmotion.score }}</h2>
    <div class="img-container">
      <img src="{{ emotion.image_path }}" alt="{{ emotion.image_path }}">
    </div>
    <p>USER: {{emotion.userRef.username }} - {{ emotion.userRef.email }} (NOTA: Igual esto no hace falta porque siempre va estar logueado para poder ver tus emotions</p>
    <p>CREATED AT: {{emotion.created_at}}</p>
    <br>
    <button (click)="createEmotionRecomm()">Generate a Recommendation</button>
    <br>
    <p> JSON: {{emotion | json }}</p>
  </div>
</div>

<!-- <app-recommendation-single></app-recommendation-single> -->

<div *ngIf="recommendation">
  <h1> Recommendation</h1>
  <h3>Created at: {{recommendation.created_at}}</h3>
  <div *ngFor="let track of recommendation.recommendations" class="recomm-container">
    <h3>{{track.trackName}}</h3>
    <div class="img-container"><img src="{{track.artistUrlImg}}" alt="{{track.artistUrlImg}}"></div>
    <span><a href="{{track.linkUrl}}" target="_blank">Link to spotify</a></span>
    <p>{{track.previewUrl}}</p>
  </div>
</div>


<p> JSON: {{ recommendation | json }}</p>
