<div class="view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="full-bg-img">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 250px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s"> Emotion <a class="indigo-text font-bold">SOUND</a></h1>
                            <h3 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s" >Music for Feelings</h3>
                            <a class="btn btn-success btn-lg indexbutton" data-wow-delay="0.4s" [routerLink]="['/user/login']">LogIn</a>
                            <br>
                            <br>
                            <a class="btn btn-info btn-lg indexbutton" data-wow-delay="0.4s" [routerLink]="['/user/signup']">SignUp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-12 text-center mb-3">

            <h1 class="font-bold light-blue-text my-3">There is no better way to change your feelings than music.</h1>

            <blockquote class="blockquote">
              <p align="justify">“If music be the food of love, play on.” - William Shakespeare</p>
            </blockquote>
            <blockquote class="blockquote">
              <p align="justify">“There are two means of refuge from the miseries of life: music and cats.” - Albert Schweitzer</p>
            </blockquote>
            <blockquote class="blockquote">
              <p align="justify">“One good thing about music, when it hits you, you feel no pain.” ― Bob Marley</p>
            </blockquote>
            <blockquote class="blockquote">
              <p align="justify">“If I were not a physicist, I would probably be a musician. I often think in music. I live my daydreams in music. I see my life in terms of music.” - Albert Einstein</p>
            </blockquote>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>
