<nav>
  <div class=" nav-wrapper brown darken-2 text-lighten-4">
    <a  [routerLink]="['/']" class="brand-logo">Logo</a>
    <ul *ngIf="!user"  class="right hide-on-med-and-down">
      <li><a [routerLink]="['/user/login']">Log-In</a></li>
      <li><a [routerLink]="['/user/signup']">Sign-Up</a></li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li><a (click)="logout()">Logout</a></li>
    </ul>
    <a [routerLink]="['/new']">Add photo</a>

  </div>
</nav>


<router-outlet></router-outlet>


<footer>My footer here</footer>
